// author : ilies <https://github.com/ilies-t>

// Variables and CSS variables
:root {
  --white:             rgba(255, 255, 255, 1);
  --purple:              rgba(59, 11, 251, 1);
  --grey:             rgba(59, 11, 251, 0.05);
  --paddingDefault:                        50px;
}
$color1:                     var(--white);
$color2:                    var(--purple);
$color2_1:                    var(--grey);
$paddX:             var(--paddingDefault);
%smoothTrans { transition-duration: 400ms;}

// Display | Flex
@import 'sass/_display.scss' ;

// Align
@import 'sass/align.scss';

// Text & fonts
@import 'f.css';
@import 'sass/_text.scss';

// Button
@import 'sass/buttons.scss';

// Extender
%transition-df{transition:ease-in-out 200ms;}
%transitionScale-df{@extend %transition-df ;transform:scale(1);&:hover{transform:scale(0.85);}}
%paddLeft {padding-left: 250px;}

// ------------------------------------ START
html, body {width:100%; height:100%; min-height: 600px; scroll-behavior:smooth;}
html { background: $color1;}
::placeholder { opacity: 0.5; color: $color2; }

// reusable, animations, etc...
@import 'sass/static.scss';

// general
header {
  @extend .flex , .jc-sb ;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%; height: 105px; padding: 0px $paddX;
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}
div.balance, div.action {
  padding-bottom: 20px;
}

// inputs
form {
  @extend .flex ;
  align-items: center;
  flex-flow: column nowrap;
  div.inputContainer {
    position: relative;
    width: 50%; max-width: 400px; margin-bottom: 10px;
    input {
      @extend %smoothTrans ;
      background: none;
      width: 100%; padding: 14px 30px;
      color: $color2;
      border: 3px solid $color2_1; border-radius: 12px;
      &:hover { background-color: $color2_1; }
      &:focus { background-color: $color2_1; border-color: $color2_1; }
    }
    span {
      display: block; position: absolute; right: 40px; top: 50%; transform: translateY(-50%);
    }
  }
}

// all transactions
.recent {
  padding: 0px $paddX;
  .itemRecent {
    @extend .jc-sb ;
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    margin-top: 20px; padding: 60px $paddX;
    width: 100%;
    background: $color2_1;
    border-radius: 20px;
  }
}

// text
h2.nbBalance {
  text-align: right;
  padding: 0px $paddX;
  font-size: 50px;
}

// -------------------- MOBILE
@media screen and (orientation:portrait)
{
  .desktop{display:none;}
  :root {
  --paddingDefault: 30px;
  }
  header {
    height: 80px;
    h1, h2 {
      font-size: 25px;
    }
  }
  form div.inputContainer {
    width: 90%;
  }
  div.balance, div.action {
    padding-bottom: 65px;
  }
  .recent {
    padding: 0px $paddX;
    .itemRecent {
      flex-flow: column nowrap;
      h5 {
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}
@media screen and (orientation:landscape){.mobile{display:none;}}

// Reset
@import 'sass/_reset.scss' ;
